@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';

:host {
  display: block;
}

.drop-zone {
  align-items: start;
  height: 214px;
}

.pictures-drop-list {
  display: flex;
  width: 100%;
}

.picture-placeholder,
.picture-preview {
  flex: 0 0 auto;
}

.picture-preview {
  margin: 5px;
}

.picture-placeholder {
  width: 200px;
  height: 200px;
  margin: 5px;
  border: 1px dashed map-get($grays, '400');
  border-radius: 3px;
}

.label {
  display: block;
  flex: 1 0 auto;
  width: 100%;
  margin: 0;
  line-height: 210px;
  text-align: center;
}
