<ngx-dropzone
  cdkScrollable
  class="drop-zone"
  accept="image/*"
  (change)="onSelectFiles($event)"
>
  <ngx-dropzone-label
    *ngIf="pictures.length === 0"
    class="label"
  >
    Загрузить картинки
  </ngx-dropzone-label>

  <div
    class="pictures-drop-list"
    cdkScrollable
    cdkDropList
    cdkDropListOrientation="horizontal"
    (cdkDropListDropped)="drop($event)"
  >
    <ls-picture-dropzone-preview
      *ngFor="let picture of pictures"
      class="picture-preview"
      cdkDrag
      [projectPicture]="picture"
      (removed)="onRemoveFile($event)"
    >
      <div *cdkDragPlaceholder class="picture-placeholder"></div>
    </ls-picture-dropzone-preview>
  </div>
</ngx-dropzone>
