@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';

.pictures {
  display: flex;
  flex-wrap: wrap;
}

.picture {
  display: flex;
  align-items: center;
  flex: 0 0 auto;
  width: 200px;
  height: 200px;
  margin: 5px;
  border: 1px solid map-get($grays, '400');
  border-radius: 10px;

  img {
    max-width: 100%;
    max-height: 100%;
  }
}
