<div class="top">
  <a class="back-button btn btn-outline-secondary" routerLink="../">
    Назад
  </a>

  <h1 class="title">
    {{title$ | async}}
  </h1>

  <ls-spinner *ngIf="loading$ | async" class="loading">
  </ls-spinner>
</div>

<div *ngIf="error$ | async" class="error alert alert-danger">
  {{error$ | async}}
</div>

<form
  *ngIf="formShouldBeRendered$ | async"
  class="form"
  [formGroup]="beforeAndAfterForm"
  (ngSubmit)="onSubmit()"
>
  <div class="form-fields">
    <div class="left-fields">
      <div class="mb-3">
        <label>Название</label>
        <input class="form-control" formControlName="ruTitle" />
      </div>

      <div class="mb-3">
        <label>Описание</label>
        <textarea class="form-control" formControlName="ruDescription"></textarea>
      </div>
    </div>

    <div class="right-fields">
      <div class="mb-3">
        <label>Английское название</label>
        <input class="form-control" formControlName="enTitle">
      </div>

      <div class="mb-3">
        <label>Английское описание</label>
        <textarea class="form-control" formControlName="enDescription"></textarea>
      </div>
    </div>
  </div>

  <div class="mb-3 project-group">
    <label>Проект</label>
    <input
      class="form-control"
      formControlName="project"
      [matAutocomplete]="projectAutocomplete"
    >
    <mat-autocomplete #projectAutocomplete="matAutocomplete" [displayWith]="displayProject">
      <mat-option *ngIf="projectsAreloading$ | async">
        <ls-spinner class="projects-spinner"></ls-spinner>
      </mat-option>
      <mat-option *ngFor="let project of filteredProjects$ | async" [value]="project">
        {{project.ruTitle}}
      </mat-option>
    </mat-autocomplete>
  </div>

  <ls-checkbox class="mb-3" formControlName="isPublished">
    Опубликовано
  </ls-checkbox>

  <div class="pictures">
    <div class="mb-3">
      <label>До</label>
      <ls-picture-control formControlName="before">
      </ls-picture-control>
    </div>

    <div class="mb-3 after-group">
      <label>После</label>
      <ls-picture-control formControlName="after">
      </ls-picture-control>
    </div>
  </div>

  <button class="submit btn btn-primary" [disabled]="loading$ | async">
    {{buttonText$ | async}}
  </button>
</form>
