.list {
  width: 100%;
  margin-top: 20px;

  th, td {

  }
}

.top {
  display: flex;
  align-items: center;
}

.spinner {
  margin-left: 20px;
}

.list-row {
  cursor: pointer;
}

.cell {
  padding-left: 10px;
  vertical-align: middle;
}

.cell_actions {
  width: 1%;
  padding-left: 0;
  text-align: right;
}

.no-projects {
  margin-top: 40px;
}
