.list {
  width: 100%;
  margin-top: 20px;

  th, td {

  }
}

.top {
  display: flex;
  align-items: center;
}

.filters {
  margin-top: 20px;

  .form-group {
    max-width: 300px;
  }
}

.loading {
  margin-left: 20px;
}

.list-row {
  cursor: pointer;

  &_deleted {
    cursor: default;
    pointer-events: none;
  }
}

.cell {
  padding-left: 10px;
  vertical-align: middle;
}

.cell_actions {
  width: 54px;
  padding-left: 0.3rem;
  text-align: center;
}

.no-projects {
  margin-top: 40px;
}

.bottom {
  display: flex;
  justify-content: flex-end;
}

.page-size {
  margin-left: 10px;
}
