<div class="top">
  <a
    class="back-button btn btn-outline-secondary"
    routerLink="../"
  >
    Назад
  </a>

  <h1 class="title">
    {{title$ | async}}
  </h1>

  <ls-spinner *ngIf="loading$ | async" class="loading">
  </ls-spinner>
</div>

<div *ngIf="error$ | async" class="error alert alert-danger">
  {{error$ | async}}
</div>

<form
  class="form"
  *ngIf="formShouldBeRendered$ | async"
  [formGroup]="projectForm"
  (ngSubmit)="onSubmit()"
>
  <div class="form-fields">
    <div class="left-fields">
      <div class="mb-3">
        <label>Название</label>
        <input
          class="form-control"
          formControlName="ruTitle"
          required
        />
      </div>

      <div class="mb-3">
        <label>Описание</label>
        <textarea
          class="form-control"
          formControlName="ruDescription"
        ></textarea>
      </div>
    </div>

    <div class="right-fields">
      <div class="mb-3">
        <label>Английское название</label>
        <input
          class="form-control"
          formControlName="enTitle"
        >
      </div>

      <div class="mb-3">
        <label>Английское описание</label>
        <textarea
          class="form-control"
          formControlName="enDescription"
        ></textarea>
      </div>
    </div>
  </div>

  <ls-checkbox
    class="mb-3"
    formControlName="isPublished"
  >
    Опубликован
  </ls-checkbox>

  <ls-project-pictures
    class="project-pictures"
    formControlName="pictures"
  ></ls-project-pictures>

  <button
    class="submit btn btn-primary"
    [disabled]="loading$ | async"
  >
    {{buttonText$ | async}}
  </button>
</form>
