:host {
  display: block;
}

.top {
  display: flex;
  align-items: center;
}

.title {
  margin-left: 20px;
  margin-bottom: 0;
}

.loading {
  margin-left: 20px;
}

.form {
  margin-top: 30px;
}

.form-fields {
  display: flex;
}

.left-fields,
.right-fields {
  flex: 1 1 50%;
}

.right-fields {
  margin-left: 30px;
}

.project-pictures {
  padding: 33px 0 16px;
}

.error {
  margin-top: 20px;
}

.input,
.textarea {
  display: block;
}

.submit {
  margin-top: 10px;
}

@media (max-width: 768px) {
  .top {
    display: block;
  }

  .title {
    margin-left: 0;
    margin-top: 10px;
  }
}

@media (max-width: 640px) {
  .form-fields {
    display: block;
  }

  .right-fields {
    margin-left: 0;
  }
}
