.hamburger-button {
  display: inline-block;
  padding: 5px;
  cursor: pointer;
  transition-property: opacity, filter;
  transition-duration: .4s;
  transition-timing-function: linear;
  outline: 0;

  font: inherit;
  color: inherit;
  text-transform: none;
  background-color: transparent;
  border: 0;
  margin: 0;
  overflow: visible;

  &:hover {
    opacity: .7;
  }

  &__box {
    position: relative;
    display: inline-block;
    width: 20px;
    height: 14px;
  }

  &__inner {
    display: block;
    top: 50%;
    margin-top: 1px;
    transition-duration: 0.075s;
    transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);

    &,
    &::before,
    &::after {
      position: absolute;
      width: 20px;
      height: 2px;
      border-radius: 2px;
      background-color: #fff;
      transition-property: transform;
      transition-duration: 0.15s;
      transition-timing-function: ease;
    }

    &::before,
    &::after {
      content: '';
      display: block;
    }

    &::before {
      top: -6px;
      transition: top 0.075s 0.12s ease,
      opacity 0.075s ease;
    }

    &::after {
      bottom: -6px;
      transition: bottom 0.075s 0.12s ease,
      transform 0.075s cubic-bezier(0.55, 0.055, 0.675, 0.19);
    }
  }

  &_active &__inner {
    transform: rotate(45deg);
    transition-delay: 0.12s;
    transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);

    &,
    &::before,
    &::after {
      background-color: #fff;
    }

    &::before {
      top: 0;
      opacity: 0;
      transition: top 0.075s ease,
      opacity 0.075s 0.12s ease;
    }

    &::after {
      bottom: 0;
      transform: rotate(-90deg);
      transition: bottom 0.075s ease,
      transform 0.075s 0.12s cubic-bezier(0.215, 0.61, 0.355, 1);
    }
  }
}
