@import 'bootstrap/scss/functions';
@import 'bootstrap/scss/variables';

:host {
  padding-right: 30px;
  padding-left: 30px;
}

.navbar-nav {
  width: 100%;
}

.navbar-collapse {
  padding: 10px 0;
}

.logout-link {
  display: flex;
  align-items: center;
}

.logout-icon {
  margin-left: 5px;
  font-size: 22px;

  &::before {
    display: block;
  }
}

@media (min-width: map-get($grid-breakpoints, 'lg')) {
  .general-links,
  .navbar-nav {
    display: flex;
  }

  .navbar-collapse {
    padding: 0;
  }

  .navbar-nav {
    justify-content: space-between;
  }
}
