@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';

:host {
  display: block;
}

.navbar-nav {
  width: 100%;
}

.logout-link {
  display: flex;
  align-items: center;
}

.logout-icon {
  margin-left: 5px;
  font-size: 22px;

  &::before {
    display: block;
  }
}

@media (min-width: map-get($grid-breakpoints, 'lg')) {
  .general-links,
  .navbar-nav {
    display: flex;
  }

  .navbar-nav {
    justify-content: space-between;
  }
}
