.app {
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  height: 100%;
  font-family: 'Roboto', sans-serif;
  line-height: 1.5;
  color: #212529;

  &__navigation {
    flex: 0 0 auto;
  }
}
