.projects-gallery {
  display: flex;

  &__project {
    display: block;
    opacity: .9;

    &:hover {
      opacity: 1;
    }
  }

  &__project + &__project {
      margin-top: 10px;
    }

  &__column + &__column {
    margin-left: 10px;
  }
}
